apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/raspberry/envoyproxy.yaml
  - ../base/raspberry/gateway.yaml
patches:
  - target:
      kind: Gateway
      name: raspberry-gateway
    patch: |-
      - op: replace
        path: /spec/addresses/0/value
        value: "192.168.1.21"
