apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/raspberry/namespace.yaml
  - ../base/raspberry/prometheus.yaml
configMapGenerator:
  - name: prometheus-values
    files:
      - values.yaml=prometheus-values.yaml
configurations:
  - ../base/raspberry/kustomizeconfig.yaml
